<div style="border: 0px; margin-top: 24px">
  <div style="background-color: rgba(94,129,172,0.17); padding-left:10px; padding-top:15px; padding-bottom:15px; font-size: 20px; border-top-left-radius: 6px; border-top-right-radius: 6px">
    <h2 style="font-size: 20px; margin: 0px;">Table of Content</h2>
  </div>
  <hr style="margin:0px; border: 1px solid #81A1C1">
  {{.Inner}}
</div>
